<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<form action="new" method="get" accept-charset="UTF-8">
  <label for="email">Email:</label>
  <input for="email" type="text" id="email" name="email"><br><br>
  <label for="username">Username:</label>
  <input for="username" type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label>
  <input for="password" type="password" id="password" name="password"><br><br>
  <input type="submit" value="Create">
  
</form>